# EditorConfig is awesome: https://EditorConfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{js,html,css}]
indent_style = space
indent_size = 2

[*.c]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
